{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新页面</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ee18bc93d781793ca334805e1dd40bea";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="标题">
                </div>
                <div class="form-group">
                    <label for="content">内容</label>
                    <textarea class="form-control" name="content" id="content" cols="30" rows="20"></textarea>
                </div>

                <div class="form-group">
                    <label for="category">文章分类</label>
                    <select name="category" id="category" class="form-control">
                        {% for category in category_list %}
                            <option value="{{ category.id }}">{{ category.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">发布</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script charset="utf-8" src="{% static 'plugins/kindeditor/kindeditor-all.js' %}"></script>
<script charset="utf-8" src="{% static 'plugins/kindeditor/lang/zh-CN.js' %}"></script>
<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#content', {
                    "uploadJson": "{% url 'article:attach-upload' %}",
                    "extraFileUploadParams": {"csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()}
                });
        });
</script>
</body>
</html>
