{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理后台</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ee18bc93d781793ca334805e1dd40bea";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'article:index' %}" style="padding: 4px 0 0 10px ">
                <img src="{% static 'img/font2.png' %}" style="height: 40px" alt="">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'article:index' %}" style="font-size: 16px;font-weight: 600">首页 <span class="sr-only">(current)</span></a></li>
                {% if request.user.username %}
                    <li><a href="{% url 'article:homepage' request.user.username %}">我的博园</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:loginc' %}?next=/home/{{ request.user.username }}">我的博园</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin: 4px 2px 0 10px;">
                    <img src="{% url 'article:media' request.user.avatar.path %}" alt=""
                         style="height: 35px;width: 35px;border-radius: 50%">
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {{ request.user }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'article:backend' %}">文章管理</a></li>
                        <li><a href="{% url 'accounts:logout' %}">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-info">
              <div class="panel-heading">操作</div>
              <div class="panel-body">
                  <a href="{% url 'article:add-article' %}">添加新文章</a>
              </div>
            </div>
        </div>
        <div class="col-md-10">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>标题</th>
                    <th>评论数</th>
                    <th>点赞数</th>
                    <th>操作</th>
                    <th>操作</th>
                </tr>
              </thead>
                <tbody>
                    {% for article in article_list %}
                        <tr>
                        <td><a href="{% url 'article:my-article' %}?article_id={{ article.id }}">{{ article.title }}</a></td>
                        <td>{{ article.comment_count }}</td>
                        <td>{{ article.up_count }}</td>
                        <td><a href="{% url 'article:delete-article' %}?del_id={{ article.id }}">删除</a></td>
                        <td><a href="{% url 'article:edit-article' %}?edit_id={{ article.id }}">编辑</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
