{% extends 'base.html' %}
{% block left_menu %}
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">今日推荐</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            {% for art in recommend_art_list %}
                <li class="clearfix" style="margin-bottom: 20px">
                    <a style="padding: 0" href="{% url 'article:my-article' %}?article_id={{ art.id }}">
                        {{ forloop.counter }}&nbsp;
                        {{ art.title }}
                    </a>
                    <span style="float: right"><a href="{% url 'article:homepage' art.user.username %}">-- {{ art.user.username }}</a></span>
                </li>
            {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}

{% block right_menu %}
  <div class="panel panel-primary">
      <div class="panel-heading text-center">
          <h3 class="panel-title">搜索引擎</h3>
      </div>
      <div class="panel-body">
          <form action="http://www.baidu.com/baidu" target="_blank" class=" text-center"
                style="margin-bottom: 20px">
              <a href="http://www.baidu.com/">
                  <img alt="baidu" src="/bbstest1/static/img/logo-80px.gif" style="padding-bottom: 5px">
              </a>
              <input name="word" style="margin-bottom: 5px;width: 161px">
              <input class="btn btn-info btn-sm" type="submit" value="百度一下">
          </form>
          <hr>
          <form action="https://www.google.com/" target="_blank" class=" text-center"
                style="margin-bottom: 20px">
              <a href="https://www.google.com/">
                  <img alt="baidu" src="/bbstest1/static/img/Logo_25wht.gif" style="padding-bottom: 5px">
              </a>
              <input name="word" style="margin-bottom: 5px;width: 161px">
              <input class="btn btn-info btn-sm" type="submit" value="谷歌搜索">
          </form>
          <hr>
          <form action="http://so.xunlei.com/search" target="_blank" class=" text-center"
                style="margin-bottom: 20px">
              <a href="http://www.xunlei.com/">
                  <img alt="baidu" src="/bbstest1/static/img/logo_search.gif" style="padding-bottom: 5px">
              </a>
              <input name="word" style="margin-bottom: 5px;width: 161px">
              <input class="btn btn-info btn-sm" type="submit" value="迅雷搜索">
          </form>
      </div>
  </div>
{% endblock %}


{% block page-main %}
  {% for article in article_list %}
      <div class="article">
          <div class="media">
              <div class="media-left media-middle" style="margin-bottom: 10px">
                  <a href="{% url 'article:my-article' %}?article_id={{ article.id }}">
                      <h4 class="media-heading">{{ article.title }}</h4>
                  </a>
              </div>
              <div class="media-body" style="line-height: 40px">
                  <a href="{% url 'article:homepage' article.user.username %}">
                      <img class="media-object"
                           style="width: 40px;display: inline-block;border-radius: 50%"
                           src="{% url 'media' article.user.avatar.path %}" alt="...">
                  </a>
                  {{ article.desc }}...
              </div>
              <div class="media-foot">
                  <span>作者:<a href="{% url 'article:homepage' article.user.username %}">{{ article.user.username }}</a></span>
                  {#  <span>发布于：{{ article.create_time|date:"Y-m-d H:i:s" }}</span> #}
                  <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-wedding-invitation"></use>
                  </svg>
                  <span>评论（{{ article.comment_count }}）</span>
                  <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-love"></use>
                  </svg>
                  <span>点赞（{{ article.up_count }}）</span>
              </div>
          </div>
      </div>
      {% if forloop.counter != 5 %}
          <hr>
      {% endif %}
  {% endfor %}
{% endblock %}