<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h3 class="panel-title">文章分类</h3>
    </div>
    <div>
        <ul class="nav nav-pills nav-stacked text-center">
            {% for category in category_list %}
                <li class="clearfix">
                    <a href="{% url 'article:homepage-category' user.username 'category' category.title %}">{{ category.title }}({{ category.article_set.all.count }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h3 class="panel-title">文章标签</h3>
    </div>
    <div>
        <ul class="nav nav-pills nav-stacked text-center">
            {% for tag in tag_list %}
                <li class="clearfix">
                    <a href="{% url 'article:homepage-category' user.username 'tag' tag.title %}">{{ tag.title }}（{{ tag.article_set.all.count }}）</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>