{% extends 'base.html' %}
{% load static %}

{% block page-main %}
<div class="media-body">
    <div class="container">
        <div class="modal-header">
            <h3 class="reg_new">注册新用户</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group" id="avatar-box">
                            <label for="{{ form.avatar.id_for_label }}">{{ form.avatar.label }}<img id="avatar-img" src="{% url 'media' 'avatars\default.png' %}" alt="" style="height: 80px;width: 80px;margin-left: 15px;border-radius: 50%"></label>
                            {{ form.avatar }}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            <div class="col-sm-10">
                                {{ form.email }}
                                <span class="error_msg">{{ form.email.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                            <div class="col-sm-10 form-inline">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" id="inputArea" value="+86"
                                               style="width: 100%">
                                    </div>
                                    <div class="col-xs-10">
                                        {{ form.phone }}
                                        <span class="error_msg">{{ form.phone.errors.0 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                            <div class="col-sm-10">
                                {{ form.username }}
                                <span class="error_msg">{{ form.username.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            <div class="col-sm-10">
                                {{ form.name }}
                                <span class="error_msg">{{ form.name.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                            <div class="col-sm-10">
                                {{ form.password }}
                                <span class="error_msg">{{ form.password.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.pwd_r_r.id_for_label }}">{{ form.pwd_r_r.label }}</label>
                            <div class="col-sm-10">
                                {{ form.pwd_r_r }}
                                <span class="error_msg">{{ form.pwd_r_r.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="reg-btn" class="btn btn-primary btn-group-justified">注册</button>
                            </div>
                        </div>

                    </form>
                    <p class="protocol text-center">* “注册” 按钮，即表示您同意并愿意遵守 <a href="javascript:;">用户协议</a>。</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $("#id_avatar").change(function () {
        // 找到用户选中的那个文件
        var file = this.files[0];
        // 生成一个读文件的对象
        var fr = new FileReader();
        // 从文件中读取头像文件数据
        fr.readAsDataURL(file);
        // 等到读完之后
        fr.onload = function () {
            console.log(fr.result);
            // 将头像img标签的src属性更换成我选中的那个文件
            $("#avatar-img").attr("src", fr.result)
        }
    });
    $('.user-create-form').validate({
        rules: {
            username: {
                required: true,
                maxlength: 30,
            },
            phone: {
                required: true,
                phone: true
            },
            email: {
                required: true,
                email: true
            },
            name: {
                required: true,
                maxlength: 16,
                minLength: 2,
            },
            password: {
                required: true,
                maxlength: 32,
            },
        }
    })
</script>
{% endblock %}
