{% extends 'base.html' %}
{% block page-main %}
    {% csrf_token %}
    <div class="article">
        <div class="media">
            <div class="media-left media-middle" style="margin:30px 20px">
                <h1 class="media-heading">{{ article.title }}</h1>
            </div>
            <div class="media-body" style="line-height: 40px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ article.articledetail.content|safe }}
            </div>
            <div class="media-foot" style="margin-top: 20px;float: right">
                <h4>
                    <span><a href="/home/{{ article.user.username }}">{{ article.user.username }}</a></span>
                    <span>发布于：{{ article.create_time|date:"Y-m-d H:i:s" }}</span>
                </h4>
                <div style="float: right">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-wedding-invitation"></use>
                    </svg>
                    <a href="javascript:void(0);" >评论（{{ article.comment_count }}）</a>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-love"></use>
                    </svg>
                    <a href="javascript:void(0);" class="dig digUp">赞一赞（<span id="digg_count">{{ article.up_count }}</span>）</a>
                    <a href="javascript:void(0);" class="dig digDown">踩一踩（<span id="bury_count">{{ article.down_count }}</span>）</a>
                    <div style="height: 24px"><span id="digg_tips" style="float:right;color: rgba(250,82,63,0.6);"></span></div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $('.dig').click(function () {
        if (!'{{ request.user.username }}') {
            location.href='/login/?next={{ request.get_full_path }}'
        }
        var userId = '{{ request.user.id }}';
        var articleId = '{{ article.id }}';
        var isUp = $(this).hasClass('digUp');
        $.ajax({
            url: '/updown/',
            type: 'post',
            data:{
                csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val(),
                userId: userId,
                articleId: articleId,
                isUp: isUp
            },
            success:function (res) {
                console.log(res);
                if (res.code === 0){
                    if (isUp){
                        var $UpSpan = $("#digg_count");
                        $UpSpan.text(1+$UpSpan.val());
                    }else {
                        var $downSpan = $("#bury_count");
                        $downSpan.text(1+$downSpan.val())
                    }
                }
                $("#digg_tips").text(res.msg);
                }
            })
        })
    </script>
{% endblock page-main %}