<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册 - 博客园</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://at.alicdn.com/t/font_752098_yze8umtuup.js"></script>
    <script src="/static/js/Ajax_csrftoken.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        svg {
            font-size: 22px;
        }

        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }

        .top-Bar {
            background-color: rgb(40, 62, 92);
            margin-bottom: 0;
        }

        li .login:hover svg {
            color: rgba(0, 0, 0, 0.8);
        }

        li .registered:hover svg {
            color: rgba(0, 0, 0, 0.8);
        }

        .bgc-left {
            margin: 50px 0;
        }

        .error_msg {
            color: rgba(250, 82, 63, 0.8);
            right: 25px;
            top: 5px;
            position: absolute;
            font-size: 10px;
        }
        #v-code{
            position: absolute;
            top: 19%;
            left: -75%;
        }
        #avatar-box{
            position: absolute;
            top: -26%;
            left: 73%;
        }
    </style>
    <script>
        $(function () {
            $('.login').hover(function (event) {
                $(this).children('.icon').html('<use class="icon-font" xlink:href="#icon--kiss-1"></use>');
            }, function (event) {
                $(this).children('.icon').html('<use class="icon-font" xlink:href="#icon--mute"></use>');
            });
            $('.registered').hover(function (event) {
                $(this).children('.icon').html('<use class="icon-font" xlink:href="#icon--kiss-"></use>');
            }, function (event) {
                $(this).children('.icon').html('<use class="icon-font" xlink:href="#icon--mute"></use>');
            })
        });
    </script>
</head>
<body>
<nav class="navbar navbar-inverse top-Bar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" style="background-color: rgba(0,0,0,0)">

                </a></li>
                <li><a href="#" style="font-family: 楷体;font-size: 30px;font-weight: 800">博客园
                    <svg class="icon" aria-hidden="true" style="font-size: 22px;">
                        <use xlink:href="#icon-wifi"></use>
                    </svg>
                </a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index/">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-imagevector"></use>
                    </svg>
                    首页
                </a></li>
                <li><a href="/login/" class="login">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon--mute"></use>
                    </svg>
                    登录
                </a></li>
                <li><a href="/registered/" class="registered">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon--mute"></use>
                    </svg>
                    注册
                </a></li>
                <li><a href="#">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bangzhu-copy"></use>
                    </svg>
                    帮助
                </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="media-body">
    <div class="container">
        <div class="modal-header">
            <h3 class="reg_new">注册新用户</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 bgc-left">
{#                    <img src="http://w1.wallls.com/uploads/original/201602/10/wallls.com_60772.jpg"#}
{#                         class="img-responsive" alt="Responsive image" style="width: 100%;border-radius: 15px">#}
                </div>
                <div class="col-md-6 col-md-offset-1" style="border-left: 2px solid #eeeeee">
                    <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group" id="avatar-box">
                            <label for="{{ form_obj.avatar.id_for_label }}">{{ form_obj.avatar.label }}<img id="avatar-img" src="/media/avatars/default.png" alt="" style="height: 80px;width: 80px;margin-left: 15px;border-radius: 50%"></label>
                            {{ form_obj.avatar }}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form_obj.email.id_for_label }}">{{ form_obj.email.label }}</label>
                            <div class="col-sm-10">
                                {{ form_obj.email }}
                                <span class="error_msg">{{ form_obj.email.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form_obj.phone.id_for_label }}">{{ form_obj.phone.label }}</label>
                            <div class="col-sm-10 form-inline">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" id="inputArea" value="+86"
                                               style="width: 100%">
                                    </div>
                                    <div class="col-xs-10">
                                        {{ form_obj.phone }}
                                        <span class="error_msg">{{ form_obj.phone.errors.0 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form_obj.username.id_for_label }}">{{ form_obj.username.label }}</label>
                            <div class="col-sm-10">
                                {{ form_obj.username }}
                                <span class="error_msg">{{ form_obj.username.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form_obj.name.id_for_label }}">{{ form_obj.name.label }}</label>
                            <div class="col-sm-10">
                                {{ form_obj.name }}
                                <span class="error_msg">{{ form_obj.name.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form_obj.password.id_for_label }}">{{ form_obj.password.label }}</label>
                            <div class="col-sm-10">
                                {{ form_obj.password }}
                                <span class="error_msg">{{ form_obj.password.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form_obj.pwd_r_r.id_for_label }}">{{ form_obj.pwd_r_r.label }}</label>
                            <div class="col-sm-10">
                                {{ form_obj.pwd_r_r }}
                                <span class="error_msg">{{ form_obj.pwd_r_r.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group" id="v-code">
                            <div id="embed-captcha"></div>
                            <p id="wait" class="show">正在加载验证码......</p>
                            <p id="notice" class="hide">请先拖动验证码到相应位置</p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="reg-btn" class="btn btn-primary btn-group-justified">注册</button>
                            </div>
                        </div>

                    </form>
                    <p class="protocol text-center">* “注册” 按钮，即表示您同意并愿意遵守 <a href="javascript:;">用户协议</a>。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <div class="container">
        <div class="modal-footer">
            <p class="text-center">
                <a href="javascript:;">关于博客园</a>&nbsp;
                <a href="javascript:;">联系我们</a>
                ©2004-2018
                <a href="javascript:;">博客园</a>
                保留所有权利 Powered by ASP.NET Core on Linux
            </p>
        </div>
    </div>
</div>

</body>
<script>
    $("#id_avatar").change(function () {
        // 找到用户选中的那个文件
        var file = this.files[0];
        // 生成一个读文件的对象
        var fr = new FileReader();
        // 从文件中读取头像文件数据
        fr.readAsDataURL(file);
        // 等到读完之后
        fr.onload = function () {
            console.log(fr.result);
            // 将头像img标签的src属性更换成我选中的那个文件
            $("#avatar-img").attr("src", fr.result)
        }
    })
</script>
<!-- 引入封装了failback的接口--initGeetest -->
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script>
    var handlerEmbed = function (captchaObj) {
        $("#reg-btn").click(function (e) {
            var validate = captchaObj.getValidate();
            if (!validate) {
                $('#v-code').removeClass('hide');
                $("#notice")[0].className = "show";
                setTimeout(function () {
                    $("#notice")[0].className = "hide";
                }, 2000);
                e.preventDefault();

            }
        });
        // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
        captchaObj.appendTo("#embed-captcha");
        captchaObj.onReady(function () {
            $("#wait")[0].className = "hide";
        });
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    $.ajax({
        // 获取id，challenge，success（是否启用failback）
        url: "/pcgetcaptcha/?t=" + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
        success: function (data) {
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "embed", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerEmbed);
        }
    });
</script>
{#验证码校验#}
<script>
    var $email = $('#inputEmail3');
    $email.blur(function () {
        var email = $(this).val();
        if (email.length !== 0) {
            $.ajax({
                url: '/check_email/',
                type: 'POST',
                data: {'email': email},
                success: function (data) {
                    if (data.count !== 0) {
                        $email.next().text(data.msg).css('color', 'red');
                        $email.parent().parent().addClass('has-error form-group')
                    } else {
                        $email.next().text('√').css('color', 'green');
                        $email.parent().parent().removeClass('has-error');
                        $email.parent().parent().addClass('has-success form-group')
                    }
                }
            })
        } else {
            $email.next().text('')
        }
    })
</script>
{# 判断邮箱 #}
<script>
    var $phone = $('#inputPhone');
    $phone.blur(function () {
        var phone = $(this).val();
        if (phone.length !== 0) {
            $.ajax({
                url: '/check_phone/',
                type: 'POST',
                data: {'phone': phone},
                success: function (data) {
                    if (data.count !== 0) {
                        $phone.next().text(data.msg).css('color', 'red');
                        $phone.parent().parent().parent().parent().addClass('has-error form-group');
                    } else {
                        $phone.next().text('√').css('color', 'green');
                        $phone.parent().parent().parent().parent().removeClass('has-error');
                        $phone.parent().parent().parent().parent().addClass('has-success form-group')
                    }
                }
            })
        } else {
            $phone.next().text('')
        }
    })
</script>
{# 判断手机号 #}
<script>
    var $username = $('#inputUserName');
    $username.blur(function () {
        var username = $(this).val();
        if (username.length !== 0) {
            $.ajax({
                url: '/check_username/',
                type: 'POST',
                data: {'username': username},
                success: function (data) {
                    if (data.count !== 0) {
                        $username.next().text(data.msg).css('color', 'red');
                        $username.parent().parent().addClass('has-error form-group');
                    } else {
                        $username.next().text('√').css('color', 'green');
                        $username.parent().parent().removeClass('has-error');
                        $username.parent().parent().addClass('has-success form-group');
                    }
                }
            })
        } else {
            $username.next().text('')
        }
    })
</script>
{# 判断登录名 #}
<script>
    var $showName = $('#inputShowName');
    $showName.blur(function () {
        var showName = $(this).val();
        if (showName.length !== 0) {
            $.ajax({
                url: '/check_showname/',
                type: 'POST',
                data: {'showName': showName},
                success: function (data) {
                    if (data.count !== 0) {
                        $showName.next().text(data.msg).css('color', 'red');
                        $showName.parent().parent().addClass('has-error form-group');
                    } else {
                        $showName.next().text('√').css('color', 'green');
                        $showName.parent().parent().removeClass('has-error');
                        $showName.parent().parent().addClass('has-success form-group');
                    }
                }
            })
        } else {
            $showName.next().text('')
        }
    })
</script>
{# 判断显示名 #}
<script>
    var $password = $('#inputPassword3');
    $password.blur(function () {
        var password = $(this).val();
        if (password.length !== 0) {
            $.ajax({
                url: '/check_password/',
                type: 'POST',
                data: {'password': password},
                success: function (data) {
                    if (data.count !== 0) {
                        $password.next().text(data.msg).css('color', 'red');
                        $password.parent().parent().addClass('has-error form-group');
                    } else {
                        $password.next().text('√').css('color', 'green');
                        $password.parent().parent().removeClass('has-error');
                        $password.parent().parent().addClass('has-success form-group');
                    }
                }
            })
        } else {
            $password.next().text('')
        }
    })
</script>
{# 判断密码格式 #}
<script>
    var $password2 = $('#inputPassword2');
    var $password3 = $('#inputPassword3');
    $password2.on('input', function () {
        if ($password3.val().length !== 0) {
            if ($password2.val() !== $password3.val()) {
                $password2.next().text('两次密码输入不同').css('color', 'red');
                $password2.parent().parent().addClass('has-error form-group');
            } else {
                $password2.next().text('√').css('color', 'green');
                $password2.parent().parent().removeClass('has-error');
                $password2.parent().parent().addClass('has-success form-group');
            }
        }
    })
</script>
{# 确认密码 #}
</html>